[color]
	ui = true
[user]
	name = Ross Reinhardt
	email = rreinhardt9@gmail.com
	signingkey = 7BDF8728A996E4D6
[alias]
  yeet = push --force-with-lease
  hard-reset = reset --hard @{u}
  purge-merged-branches = "!git fetch && git branch --merged=main | egrep -v 'master|dev|main|staging' | xargs git branch -d"
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
  dsf = "!git diff --color $@ | diff-so-fancy"
  glog = log --graph --decorate --oneline
[push]
	default = current
[diff]
	tool = meld
	ignoreSubmodules = dirty
[merge]
	tool = meld
	conflictstyle = diff3
[core]
	excludesfile = ~/.cvsignore
	pager = diff-so-fancy | less --tabs=1,5 -R
[fetch]
	prune = true
[commit]
	template = /Users/ross/.gitmessage.txt
[rebase]
	autosquash = true
