[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/vim-rhubarb"]
	path = .vim/pack/plugins/start/vim-rhubarb
	url = git://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/plugins/start/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/plugins/start/vim-rspec"]
	path = .vim/pack/plugins/start/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/pack/plugins/start/javascript-libraries-syntax"]
	path = .vim/pack/plugins/start/javascript-libraries-syntax
	url = git@github.com:othree/javascript-libraries-syntax.vim.git
[submodule ".vim/pack/plugins/start/vim-jsx"]
	path = .vim/pack/plugins/start/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule ".vim/pack/plugins/start/Syntastic"]
	path = .vim/pack/plugins/start/Syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/rspec.vim"]
	path = .vim/pack/plugins/start/rspec.vim
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule ".vim/pack/plugins/start/tcomment_vim"]
	path = .vim/pack/plugins/start/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule ".vim/pack/plugins/start/tlib_vim"]
	path = .vim/pack/plugins/start/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule ".vim/pack/plugins/start/vim-addon-mw-utils"]
	path = .vim/pack/plugins/start/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-rails"]
	path = .vim/pack/plugins/start/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/pack/plugins/start/vim-snipmate"]
	path = .vim/pack/plugins/start/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule ".vim/pack/plugins/start/vim-snippets"]
	path = .vim/pack/plugins/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
