[color]
	ui = true
[user]
	name = Ross Reinhardt
	email = rreinhardt9@gmail.com
[alias]
  yolo = push --force-with-lease
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
  dsf = "!git diff --color $@ | diff-so-fancy"
  glog = log --graph --decorate --oneline
[push]
	default = current
[diff]
	tool = meld
	ignoreSubmodules = dirty
[merge]
	tool = meld
[core]
	excludesfile = ~/.cvsignore
	pager = diff-so-fancy | less --tabs=1,5 -R
[fetch]
	prune = true
