"*":
  "atom-lint":
    showViolationMetadata: false
  "autocomplete-plus":
    confirmCompletion: "tab"
  blame: {}
  core:
    disabledPackages: [
      "fonts"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "railscast-theme"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "b511a983-da1a-01ce-5685-8ba536b39955"
  floobits: {}
  fonts:
    fontFamily: "DejaVu Mono"
  "fuzzy-finder": {}
  "git-blame": {}
  linter:
    lintOnFly: false
    showErrorPanel: false
  "linter-rubocop":
    command: "/Users/ross/.rbenv/versions/2.2.3/bin/rubocop"
    rubocopExecutablePath: "/Users/ross/.rbenv/versions/2.2.3/bin/rubocop"
  "rails-transporter": {}
  "spell-check": {}
  "tree-view":
    showOnRightSide: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
