"*":
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  core:
    themes: [
      "one-dark-ui"
      "railscast-theme"
    ]
    disabledPackages: [
      "linter-rubocop"
    ]
  "tree-view":
    showOnRightSide: true
  "exception-reporting":
    userId: "b511a983-da1a-01ce-5685-8ba536b39955"
  welcome:
    showOnStartup: false
  "atom-lint":
    showViolationMetadata: false
  linter:
    subtleLinterErrors: [
      "rubocop"
    ]
    lintOnFly: false
  "linter-rubocop":
    command: "~/.rvm/gems/ruby-2.2.3@global/wrappers/rubocop"
    rubocopExecutablePath: "~/.rvm/gems/ruby-2.2.3@global/wrappers/rubocop"
  "autocomplete-plus": {}
  "rails-transporter": {}
  "spell-check": {}
  "git-blame": {}
  "vim-mode": {}
  floobits: {}
  blame: {}
