packages: [
  "blame"
  "browser-refresh"
  "dash"
  "editorconfig"
  "fonts"
  "language-elixir"
  "language-haml"
  "language-r"
  "linter"
  "linter-coffeelint"
  "linter-eslint"
  "linter-rubocop"
  "markdown-toc"
  "open-in-browser"
  "package-sync"
  "rails-snippets"
  "rails-transporter"
  "railscast-theme"
  "rainbow-delimiters"
  "react"
  "sort-lines"
  "tasks"
  "vim-mode"
]
